<nav class="navbar fixed-top navbar-light bg-dark">
    <a class="navbar-brand" routerLink="/products" >The Bicycle Shop</a>
    <div>
    <button  type="button" class="btn btn-light" style="margin-right: 20px;" (click)="open(content)">Add Product</button>
    <button  type="button" class="btn btn-light" style="margin-right: 20px;"><a routerLink="/profile">Profile</a></button>
    <button  type="button" class="btn btn-light" style="margin-right: 5px;"><a routerLink="/signin">Sign Out</a></button>
    </div>
  </nav>
  <div class="container">
  <table class="table">
      <thead class="thead-dark" >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">COLOR</th>
          <th scope="col">SIZE</th>
          <th scope="col">STATUS</th>
          <th scope="col">CONDITIONS</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
  
      <tbody>
          <tr *ngFor="let product of products!" scope="row">
          <td class="td">{{product.id}}</td>
          <td class="td">{{product.name}}</td>
          <td class="td">{{product.color}}</td>
          <td class="td">{{product.size}}</td>
          <td class="td">{{product.status}}</td>
          <td class="td">{{product.conditions}}</td>
          <td><button (click)="onEdit(product, content)" type="button" class="btn btn-light" style="margin-right: 5px;">Edit</button>
              <button  type="button" class="btn btn-light" style="margin-right: 5px;" (click)="deleteProduct(product)">Delete</button>
          </td>
          </tr>
         
      </tbody>
    </table>
  </div>

  <!-- Add Product Form -->  
  <!-- Modal -->
    <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Product Details</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
     </div>
    <div class="modal-body">
      <form [formGroup]="addProductForm">
        <div class="mb-3">
          <label for="productName">Product Name</label>
          <div class="input-group">
            <input type="text" formControlName="name" id="productName" class="form-control" placeholder="Name">
          </div>

          <label for="productColor">Product Color</label>
          <div class="input-group">
            <input type="text" formControlName="color" id="productColor" class="form-control" placeholder="Color">
          </div>

          <label for="productSize">Product Size</label>
          <div class="input-group">
            <input type="text" formControlName="size" id="productSize" class="form-control" placeholder="Size">
          </div>

          <label for="productStatus">Product Status</label>
          <div class="input-group">
            <input type="text" formControlName="status" id="productStatus" class="form-control" placeholder="Status">
          </div>

          <label for="productConditions">Product Conditions</label>
          <div class="input-group">
            <input type="text" formControlName="conditions" id="productConditions" class="form-control" placeholder="Conditions">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close(closeForm())">Close</button>
        <button type="button" *ngIf="showADD" class="btn btn-info" (click)="modal.close(postProductDetails())">Add</button>
        <button type="button" *ngIf="showUpdate" class="btn btn-info" (click)="modal.close(updateProductDetails())">Update</button>
    </div>
  </ng-template>
