<nav class="navbar fixed-top navbar-light bg-dark">
    <a class="navbar-brand" routerLink="/products" >The Bicycle Shop</a>
    <div>
    <button  type="button" class="btn btn-light" style="margin-right: 20px;"><a routerLink="/detail">Detail List</a></button>
    <button  type="button" class="btn btn-light" style="margin-right: 5px;"><a routerLink="/signin">Sign Out</a></button>
    </div>
  </nav>

  <div class="container">
  <div class="card">
    <img src="../../../assets/images/profile-placeholder.png" alt="Profile Image" style="width:100%">
    <h1>User Name</h1>
    <p class="title">Email</p>
    <p class="title">Password</p>
    <p><button class="edit">Edit</button></p>
  </div>
  </div>